{% extends 'base.html' %}

{% block content %}
    <h1 class="mt-5 text-primary">Timesheet</h1>

<!-- Lista kampanii -->
<form action="{{ url_for('index') }}" method="post">
    <table class="table mt-4 table-dark-mode" id="campaignTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>Data rozpoczęcia</th>
                <th>Data zakończenia</th>
                <th>Wprowadź czas pracy (hh:mm)</th>
                <th>Całkowity czas pracy</th>
                <th>Usuń kampanię</th> 
            </tr>
        </thead>
        <tbody>
            {% for campaign in campaigns %}
                <tr>
                    <td>{{ campaign.id }}</td>
                    <td>{{ campaign.name }}</td>
                    <td>{{ campaign.start_date.strftime('%Y-%m-%d') }}</td>
                    <td>{{ campaign.end_date.strftime('%Y-%m-%d') }}</td>
                    <td>
                        <input type="text" name="work_time_{{ campaign.id }}">
                        <input type="submit" value="Dodaj czas pracy">
                    </td>
                    <td>{{ campaign.total_work_time }}</td>
                    <td>
                        <a href="{{ url_for('delete_campaign', campaign_id=campaign.id) }}" class="delete-button">Usuń</a> <!--W sumie to się przyda-->
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

{% endblock %}